.page {
  width: 100vw;
  height: 100vh;

  @media (--large) {
    display: flex;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 50px;
    color: grey;
    border-bottom: 1px solid #cccccc;

    @media (--large) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: fit-content;
      height: 100vh;
      border: none;
      border-right: 1px solid #cccccc;
      padding: 30px 15px;
    }

    & a {
      @media (--large) {
        height: 50px;
      }
    }

    &__selected {
      color: #0050c3;
      text-decoration: underline;
      pointer-events: none;
    }
  }

  &__main {
    height: calc(100% - 50px);
    width: 100%;
    /* padding: 30px 15px; */

    @media (--large) {
      height: 100%;
      /* padding: 80px; */
    }

    &__sections {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      height: 50px;
      color: grey;
      border-bottom: 1px solid #cccccc;

      & li {
        cursor: pointer;
      }

      &__selected {
        color: #0050c3;
        text-decoration: underline;
        pointer-events: none;
      }
    }

    &__body {
      &__add {
        top: 100px;
        right: 50px;
        position: absolute;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #0050c3;
        color: white;
      }
      &__products {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px 50px;
        padding: 50px 0;
        position: relative;
        width: 80vw;
        margin: auto;
      }
    }
  }
}
