.container {
  height: calc(100% - 50px);
  width: 100vw;

  @media (--large) {
    width: calc(100vw - 150px);
    height: 100vh;
    overflow-y: scroll;
  }

  &__sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid #cccccc;

    &__list {
      color: grey;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 90%;

      & li {
        cursor: pointer;
      }
      &__selected {
        color: #0050c3;
        text-decoration: underline;
        pointer-events: none;
      }
    }

    &__add {
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #0050c3;
      color: white;
    }
  }

  &__products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 50px 0;
    position: relative;
    width: 80vw;
    margin: auto;

    & span {
      text-transform: capitalize;
    }
  }
}
