.page {
  width: 100vw;
  height: 100vh;

  @media (--large) {
    display: flex;
  }

  &__nav {
    background-color: var(--violet);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 50px;
    color: white;
    border-bottom: 1px solid #cccccc;

    @media (--large) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 150px;
      height: 100vh;
      border: none;
      border-right: 1px solid #cccccc;
      padding: 30px 15px;
    }

    & a {
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 15px;
      margin: 10px 0;
    }

    &__selected {
      background-color: white;
      color: var(--violet);
    }
  }

  & main {
    background-color: var(--light-grey);
  }
}
